Package: simple-spot
Version: 1.0.1
Maintainer: R. Moeijes simpelmuis@gmail.com
Architecture: all
Depends: 
Description: Simple spotify agent and device manager
 A small monitor script, for stopping the simple-bt agent if spotyfy connection is requested
 disconnects other devices when a new device connects. 
